[exchange-schema.json]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 8
ij_json_keep_indents_on_empty_lines = false
ij_json_object_wrapping = off
ij_json_array_wrapping = off
